[core]
    editor = nano
	autocrlf = false
[user]
    name = Ryan Clements
    email = ryanclementshax@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
